<html>
  <head>
    {% if title %}
    <title>{{ title }} - evaluate-it.org</title>
    {% else %}
    <title>evaluate-it.org</title>
    {% endif %}
  </head>
  <body>
    <div>evaluate-it.org: <a href="/index">Home</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {%- with messages = get_flashed_messages(with_categories=true) -%}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {%- endwith %}
    <ul>
      <li>Hello {{ current_user.email }}</li>
      <li><a href="{{ url_for_security('forgot_password') }}">Login</a></li>
    </ul>
        {% include "security/_menu.html" %}
    {% block content %}{% endblock %}
  </body>
</html>